## Deliverable 3. Create a Travel Itinerary Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Mitsamiouli,KM,80.80,scattered clouds,-11.3847,43.2844,NaN
1,7,Georgetown,MY,82.33,few clouds,5.4112,100.3354,NaN
2,8,Aliaga,PH,85.50,clear sky,15.5167,120.8667,NaN
3,10,Cayenne,GF,82.09,few clouds,4.9333,-52.3333,NaN
4,12,Dingle,PH,82.58,overcast clouds,10.9995,122.6711,NaN

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Description} at {Max Temp}</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_df = hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']== 'Benguela']
vacation_end = vacation_df.loc[vacation_df['City']== 'Benguela']
vacation_stop1 = vacation_df.loc[vacation_df['City']== 'Mogadishu']
vacation_stop2 = vacation_df.loc[vacation_df['City']== 'Aswan'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']== 'Kutum']

In [17]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].values[0], vacation_start['Lng'].values[0]
end = vacation_end['Lat'].values[0], vacation_end['Lng'].values[0]
stop1 = vacation_stop1['Lat'].values[0], vacation_stop1['Lng'].values[0]
stop2 = vacation_stop2['Lat'].values[0], vacation_stop2['Lng'].values[0]
stop3 = vacation_stop3['Lat'].values[0], vacation_stop3['Lng'].values[0]

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(-12.5763, 13.4055)
(-12.5763, 13.4055)
(2.0371, 45.3438)
(24.0934, 32.907)
(14.2, 24.6667)

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start,end,waypoints =[stop1,stop2,stop3],travel_mode = 'DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,662,Benguela,AO,75.54,clear sky,-12.5763,13.4055,NaN
1,662,Benguela,AO,75.54,clear sky,-12.5763,13.4055,NaN
2,151,Mogadishu,SO,81.07,overcast clouds,2.0371,45.3438,NaN
3,849,Aswan,EG,87.10,clear sky,24.0934,32.9070,NaN
4,393,Kutum,SD,77.41,clear sky,14.2000,24.6667,NaN

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Description} at {Max Temp}</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_df = hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))